<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">SrNo</th>
      <th scope="col">Name</th>
      <th scope="col">Accepted Deals</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Karan</td>
      <td>20</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ameet</td>
      <td>40</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Dashore</td>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Fatima</td>
      <td>90</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Udit</td>
      <td>100</td>
    </tr>
  </tbody>
</table>
