<div class="container">
    <div class="row">
        <div class="w3-bar-item w3-button w3-pink w3-left ">
            <b>REGISTER A DEAL</b>
        </div>
    </div>

    <div class="container">
        <div [hidden]="submitted">
          <form  #dealForm="ngForm">

            <div class="form-group">
                <label for="OrgName">Organisation Name</label>
                <input type="text" class="form-control"
                       required id ="OrgName"
                       [(ngModel)]="DummyDeal.OrgName" name="OrgName"
                       #OrgName="ngModel"  [class.is-invalid] = "OrgName.touched && OrgName.invalid">

                <small class="text-danger" [class.d-none]="OrgName.untouched || OrgName.valid">Company field required </small>
              </div>

              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" id="amount"
                       required
                       [(ngModel)]="DummyDeal.amount" name="amount"
                       #amount="ngModel"  [class.is-invalid] = "amount.touched && amount.invalid">

                <small class="text-danger" [class.d-none]="amount.untouched || amount.valid">amount field required </small>
              </div>


            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description"
                     required
                     [(ngModel)]="DummyDeal.description" name="description"
                     #description="ngModel" [class.is-invalid] = "description.touched && description.invalid">

              <small class="text-danger" [class.d-none]="description.untouched || description.valid">description field required </small>
            </div>

            <div class="form-group">
              <label for="time">Time allocated</label>
              <input type="text" class="form-control" id="time"
                     required
                     [(ngModel)]="DummyDeal.time" name="time"
                     #time="ngModel" [class.is-invalid] = "time.touched && time.invalid">

              <small class="text-danger" [class.d-none]="time.untouched || time.valid">Time  field required </small>
            </div>


            <div class="form-group">
              <label for="time">Region Selected</label>
              <br>
              <select [(ngModel)]="DummyDeal.regioncode" name = "region" class="form-control">
                <option *ngFor="let code of RegionCode" [value]="code">{{code}}</option>
              </select>
            </div>


            <button type="submit" (click)="createDeal()" class="btn btn-success" [disabled]="!dealForm.form.valid">Submit</button>
          </form>
        </div>

        <div [hidden]="!submitted">
           <div class ="row">
            <h2>You submitted the following:</h2>
           </div>
          <div class="row">
            <div class="col-xs-3">Organisation Name : </div>
            <div class="col-xs-9">{{ DummyDeal.OrgName }}</div>
          </div>

          <div class="row">
            <div class="col-xs-3">Description :</div>
            <div class="col-xs-9">{{ DummyDeal.description }}</div>
          </div>

          <div class="row">
            <div class="col-xs-3">Amount : </div>
            <div class="col-xs-9">{{ DummyDeal.amount }}</div>
          </div>

          <div class="row">
            <div class="col-xs-3">Time Allocated : </div>
            <div class="col-xs-9">{{ DummyDeal.time }}</div>
          </div>


          <div class="row">
            <div class="col-xs-3">RegionCode : </div>
            <div class="col-xs-9">{{ DummyDeal.regioncode }}</div>
          </div>
          <br>
        </div>


        <div class = "row"  [hidden] = "hide">
          <b>{{this.message}}</b>
        </div>
      </div>

      <a href="CREATE-DEAL" class="btn btn-primary" style="text-decoration: none;"  [class.d-none]="!submitted">Go back to create deal page</a>
</div>
