<div class="container">
  <div class="row">
      <div class="w3-bar-item w3-button w3-pink w3-left ">
          <b>Create User Profile</b>
      </div>
  </div>
  <div class = "row">
  <div class="container" [hidden]="hideform">
    <div class = "row">
      <div class = "col">
        <form #userform="ngForm">
          <div class = "form-group">
            <label for = "company"> Company </label>
            <input type = "text" required #cmpny="ngModel" [class.is-invalid]="cmpny.invalid && cmpny.touched"  class="form-control"  name = "company" [(ngModel)] =userModel.company>
            <small class = "text-danger" [class.d-none]="cmpny.valid || cmpny.untouched"> Name field is required </small>
          </div>

          <div class = "form-group">
            <label for = "orgcode"> Organisation </label>
            <input type = "text"required  #org="ngModel" [class.is-invalid]="org.invalid && org.touched" class = "form-control" name = "orgcode" [(ngModel)] =userModel.orgcode>
              <small [class.d-none]="org.valid || org.untouched"> Organisation is required </small>
          </div>

          <div class = "form-group">
            <label for = "username"> Username </label>
            <input type = "text" required #usn ="ngModel"  [class.is-invalid]="usn.invalid && usn.touched" class = "form-control" name = "username" [(ngModel)] =userModel.username>
              <small [class.d-none]="usn.valid || usn.untouched"> Username  is required </small>
          </div>

          <div class = "form-group">
            <label for = "firstname"> Firstname </label>
            <input type = "text" required #fsn ="ngModel"  [class.is-invalid]="fsn.invalid && fsn.touched" class = "form-control" name = "firstname" [(ngModel)] =userModel.firstname>
              <small [class.d-none]="fsn.valid || fsn.untouched"> First name is required </small>
          </div>

          <div class = "form-group">
            <label for = "lastname"> Lastname </label>
            <input type = "text" required #lsn ="ngModel"  [class.is-invalid]="lsn.invalid && lsn.touched" class = "form-control" name = "lastname" [(ngModel)]= userModel.lastname  >
              <small [class.d-none]="lsn.valid || lsn.untouched"> Last name is required </small>
          </div>


          <div class = "form-group">
            <label for = "address"> Address </label>
            <input type = "text" required #addr ="ngModel"  [class.is-invalid]="addr.invalid && addr.touched" class = "form-control" name = "address" [(ngModel)] =userModel.address>
              <small [class.d-none]="addr.valid || addr.untouched"> Address is required </small>
          </div>

          <div class = "form-group">
            <label for = "city"> City </label>
            <input type = "text" required #ct ="ngModel"  [class.is-invalid]="ct.invalid && ct.touched" class = "form-control" name = "city" [(ngModel)] =userModel.city>
              <small [class.d-none]="ct.valid || ct.untouched"> City is required </small>
          </div>

          <div class = "form-group">
            <label for = "country"> Country </label>
            <input type = "text" required #cntry ="ngModel"  [class.is-invalid]="cntry.invalid && cntry.touched" class = "form-control" name = "country" [(ngModel)] =userModel.country>
              <small [class.d-none]="cntry.valid || cntry.untouched"> Country is required </small>
          </div>

          <div class = "form-group">
            <label for = "postalcode"> Postal-Code </label>
            <input type = "text" required #psc ="ngModel"  [class.is-invalid]="psc.invalid && psc.touched" class = "form-control" name = "postalcode" [(ngModel)] =userModel.postalcode>
                <small [class.d-none]="psc.valid || psc.untouched"> Country is required </small>
          </div>

          <button (click)="func1()" class = "btn btn-primary" type="submit">Submit form</button>
        </form>
      </div>
      <div class = "col">
        <div class = "container" style = "height : 200px ; width : 200px;">
            <img src="assets/img/images.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class = "row" [hidden] = "hidemsg">
      <div class = "container">
        <div class = "row">
          <b> User Created Successfully</b>
        </div>

        <div class = "row">
          <button type = "submit" class = "btn btn-primary" (click)="func2()">Go back</button>
        </div>
      </div>
    </div>

</div>
