<div class="container">
  <div class="row">
      <div class="w3-bar-item w3-button w3-pink w3-left ">
          <b>Create User Profile</b>
      </div>
  </div>
  <div class = "row" [hidden] = "hideform">

    <form [formGroup]="UserForm">

      <div class = "row">
      <div class = "col">
      <div class = "form-group">
        <label for = "company"> Company </label>
        <input formControlName = "company"    type = "text"   class="form-control"  [class.is-invalid]="UserForm.controls.company.touched && UserForm.controls.company.invalid" name = "company" required>
        <small class="text-danger" *ngIf="UserForm.controls.company.touched && UserForm.controls.company.errors?.required">Company field required </small>
      </div>

      <div class = "form-group">
        <label for = "orgcode"> Organisation Code</label>
        <input formControlName = "orgcode"  type = "text"  class = "form-control" [class.is-invalid]="UserForm.controls.orgcode.touched && UserForm.controls.orgcode.invalid" name = "orgcode" required>
        <small class="text-danger" *ngIf="UserForm.controls.orgcode.touched && UserForm.controls.orgcode.errors?.required">Organisation code  field required </small>
      </div>

      <div class = "form-group">
        <label for = "username"> Username </label>
        <input formControlName = "username"  type = "text"  class = "form-control" [class.is-invalid]="UserForm.controls.username.touched && UserForm.controls.username.invalid" name = "username" required>
        <small class="text-danger" *ngIf="UserForm.controls.username.touched && UserForm.controls.username.errors?.required">Username  field required </small>
      </div>

      <div class = "form-group">
        <label for = "firstname"> Firstname </label>
        <input formControlName = "firstname"     type = "text" class = "form-control" [class.is-invalid]="UserForm.controls.firstname.touched && UserForm.controls.firstname.invalid"  name = "firstname" required>
        <small class="text-danger" *ngIf="UserForm.controls.firstname.touched && UserForm.controls.firstname.errors?.required">Firstname  field required </small>
      </div>

      <div class = "form-group">
        <label for = "lastname"> Lastname </label>
        <input formControlName = "lastname"   type = "text"  class = "form-control" [class.is-invalid]="UserForm.controls.lastname.touched && UserForm.controls.lastname.invalid" name = "lastname" required>
        <small class="text-danger" *ngIf="UserForm.controls.lastname.touched && UserForm.controls.lastname.errors?.required">Lastname  field required </small>

      </div>


      <div class = "form-group">
        <label for = "address"> Address </label>
        <input formControlName = "address"   type = "text"  class = "form-control" [class.is-invalid]="UserForm.controls.address.touched && UserForm.controls.address.invalid" name = "address" required>
        <small class="text-danger" *ngIf="UserForm.controls.address.touched && UserForm.controls.address.errors?.required">Address  field required </small>

      </div>

      <div class = "form-group">
        <label for = "city"> City </label>
        <input formControlName = "city"  type = "text"  class = "form-control" [class.is-invalid]="UserForm.controls.city.touched && UserForm.controls.city.invalid" name = "city" required>
        <small class="text-danger" *ngIf="UserForm.controls.city.touched && UserForm.controls.city.errors?.required">City  field required </small>
      </div>

      <div class = "form-group">
        <label for = "country"> Country </label>
        <input formControlName = "country"  type = "text"  class = "form-control" [class.is-invalid]="UserForm.controls.country.touched && UserForm.controls.country.invalid" name = "country" required>
        <small class="text-danger" *ngIf="UserForm.controls.country.touched && UserForm.controls.country.errors?.required">Country  field required </small>
      </div>

      <div class = "form-group">
        <label for = "postalcode"> Postal-Code </label>
        <input formControlName = "postalcode"  type = "text" class = "form-control" [class.is-invalid]="UserForm.controls.postalcode.touched && UserForm.controls.postalcode.invalid" name = "postalcode" required>
        <small class="text-danger" *ngIf="UserForm.controls.postalcode.touched && UserForm.controls.postalcode.errors?.required">Postalcode  field required </small>

      </div>
     <!--(change) = "getSelectedUserRights"-->
     <!--(change) = "getSelectedDealRights()"-->
    <div class = "form-group">
      <label class="form-control" for = "USER">USER RIGHTS </label>
    </div>
    <div class = "form-check form-check-inline" *ngFor = "let rights of UserArray.controls; let i = index;">
      <input class = "form-check-input" [formControl] = "rights"  (change) = "getSelectedUserRights()"  type = "checkbox" id = "userright{{i}}">
      <label class = "form-check-label"  for="userright{{i}}">{{userrights[i]}}</label>
    </div>

    <div class = "form-group">
      <label class="form-control" for = "DEALS">DEAL RIGHTS </label>
    </div>
    <div class = "form-check form-check-inline" *ngFor = "let rights of DealArray.controls; let i = index;">
      <input class = "form-check-input" [formControl] = "rights" (change) = "getSelectedDealRights()" type = "checkbox" id = "dealright{{i}}">
      <label class = "form-check-label"  for="dealright{{i}}">{{dealrights[i]}}</label>
    </div>
    <br>
    <br>
      <button (click)="func2()" class = "btn btn-primary" type="submit" [disabled]="!UserForm.valid">Submit form</button>
    </div>
    <div class = "col-xl">
      <img src="assets/img/images.jpg" class="img-fluid" alt="Responsive image">
    </div>

    </div>
    </form>
  </div >
  <div class = "row" [hidden]="hidemsg1">
    <b>  User Created Successfully </b>;
  </div>

  <div class = "row" [hidden]="hidemsg2">
    <b>Failed to create user</b>
  </div>
</div>
