<!-- 


  <div  class="row">
    <div class="col-11">
      <router-outlet></router-outlet>
    </div>   
  </div>

   -->

   <!-- nav -->
<!-- nav -->

      <!-- <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
      <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
<div  class="row" *ngIf="user">
  <div  class ="col" >
      <app-sidebar></app-sidebar>
  </div>

  <div class ="col-11" >
      <app-header></app-header> 
  </div>
</div>
      


<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<!-- <div class="text-center mt-4">
  <p>
      <a href="https://jasonwatmore.com/post/2020/04/28/angular-9-user-registration-and-login-example-tutorial" target="_top">Angular 9 - User Registration and Login Example & Tutorial</a>
  </p>
  <p>
      <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div> -->

  