
<div class="w3-sidebar w3-bar-block w3-dark-gray w3-card" style="width:10%">

    <!-- logo -->
    <div class ="brand-logo">
        <a href="#" class=" brand-logo">
            <img src="assets/img/logo.png" alt ="ACCOPS" height="100%" width="100%"/>
        </a>
    </div>
    <p></p>

    <a href="{{right}}" class="w3-bar-item w3-button " *ngFor = "let right of PermanentRights">{{right}}</a>
    <div *ngIf="EditUserFlag">
      <button class="w3-button w3-block w3-left-align " (click)="myAccFuncUser()">
      EDIT USER <i class="fa fa-caret-down"></i>
      </button>

      <div id="UserRights" class="w3-hide w3-white w3-card" >
        <a href="{{right}}" class="w3-bar-item w3-button " *ngFor ="let right of UserRights">{{right}}</a>
      </div>

    </div>

    <div *ngIf="DealRightsFlag">

      <button class="w3-button w3-block w3-left-align " (click)="myAccFuncDeal()">
        DEALS <i class="fa fa-caret-down"></i>
      </button>

        <div id="DealRights" class="w3-hide w3-white w3-card">
          <a href="{{right}}" style="text-decoration:none" class="w3-bar-item w3-button "  *ngFor ="let right of DealRights">{{right}}</a>
        </div>

    </div>
  </div>
