<!-- <div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>You're logged in with Angular 9!!</p>
        <router-outlet></router-outlet>
        <p><a routerLink="/users">Manage Users</a></p>
    </div>
</div> -->

<!-- <div  class="row">
    <div  class ="col" >
        <app-sidebar></app-sidebar>
    </div>

    <div class ="col-11" >
        <header></header> 
    </div>
  </div>

  <div  class="row">
    <div class="col-11">
      <router-outlet></router-outlet>
    </div>   
  </div> -->
