<div class="container">
  <div class="row">
      <div class="w3-bar-item w3-button w3-pink w3-left ">
          <b>User Profile</b>
      </div>
  </div>

  <div class="container">
    <div class = "row">
    <div class = "col">
    <div class = "form-group">
      <label for = "company"> Company </label>
      <input type = "text" class = "form-control" name = "company" [(ngModel)] =userModel.company  readonly>
    </div>

    <div class = "form-group">
      <label for = "orgcode"> Organisation </label>
      <input type = "text" class = "form-control" name = "orgcode" [(ngModel)] =userModel.orgcode readonly>
    </div>

    <div class = "form-group">
      <label for = "username"> Username </label>
      <input type = "text" class = "form-control" name = "username" [(ngModel)] =userModel.username  readonly>
    </div>

    <div class = "form-group">
      <label for = "firstname"> Firstname </label>
      <input type = "text" class = "form-control" name = "firstname" [(ngModel)] =userModel.firstname readonly>
    </div>

    <div class = "form-group">
      <label for = "lastname"> Lastname </label>
      <input type = "text" class = "form-control" name = "lastname" [(ngModel)]= userModel.lastname   readonly>
    </div>

    <div class = "form-group">
      <label for = "address"> Address </label>
      <input type = "text" class = "form-control" name = "address" [(ngModel)] =userModel.address readonly>
    </div>

    <div class = "form-group">
      <label for = "city"> City </label>
      <input type = "text" class = "form-control" name = "city" [(ngModel)] =userModel.city readonly>
    </div>

    <div class = "form-group">
      <label for = "country"> Country </label>
      <input type = "text" class = "form-control" name = "country" [(ngModel)] =userModel.country readonly>
    </div>

    <div class = "form-group">
      <label for = "postalcode"> Postal-Code </label>
      <input type = "text" class = "form-control" name = "postalcode" [(ngModel)] =userModel.postalcode readonly>
    </div>
    </div>
    <div>
        <img src="assets/img/images.jpg" class="img-fluid" alt="Responsive image">
    </div>
    </div>
  </div>

</div>
