<div class="container">
  <div class="row">
      <div class="w3-bar-item w3-button w3-pink w3-left ">
          <b>User Profile</b>
      </div>
  </div>

  <div class="container">
    <div class = "row">
    <div class = "col">
    <div class = "form-group">
      <label for = "company"> Company </label>
      <input type = "text" class = "form-control" name = "company" [(ngModel)] =userModel.company  readonly>
    </div>

    <div class = "form-group">
      <label for = "orgcode"> Organisation Code </label>
      <input type = "text" class = "form-control" name = "orgcode" [(ngModel)] =userModel.orgcode readonly>
    </div>

    <div class = "form-group">
      <label for = "username"> Username </label>
      <input type = "text" class = "form-control" name = "username" [(ngModel)] =userModel.username  readonly>
    </div>

    <div class = "form-group">
      <label for = "firstname"> Firstname </label>
      <input type = "text" class = "form-control" name = "firstname" [(ngModel)] =userModel.firstname readonly>
    </div>

    <div class = "form-group">
      <label for = "lastname"> Lastname </label>
      <input type = "text" class = "form-control" name = "lastname" [(ngModel)]= userModel.lastname   readonly>
    </div>

    <div   *ngIf="userModel.L1.length > 0"> L1</div>

    <ul class="list-group" *ngFor="let data of userModel.L1">
      <li class="list-group-item list-group-item-secondary">{{data}}</li>
    </ul>
    <br>

    <div   *ngIf="userModel.L2.length > 0"> L2</div>

    <ul class="list-group" *ngFor="let data of userModel.L2">
    <li class="list-group-item list-group-item-secondary">{{data}}</li>

    </ul>
    <br>

    <div   *ngIf="userModel.L3.length > 0"> L3</div>

    <ul class="list-group" *ngFor="let data of userModel.L3">
    <li class="list-group-item list-group-item-secondary">{{data}}</li>
    <br>
    </ul>
    <br>

    <div   *ngIf="userModel.regioncode.length > 0">Region Codes</div>

    <ul class="list-group" *ngFor="let data of userModel.regioncode">
    <li class="list-group-item list-group-item-secondary">{{data}}</li>
    <br>
    </ul>
    <br>

    <div class = "form-group">
      <label for = "maxval"> Maximum Deal Package </label>
      <input type = "text" class = "form-control" name = "maxval" [(ngModel)] =userModel.maxval readonly>
    </div>

    <div class = "form-group">
      <label for = "totaldeals"> Total Deals </label>
      <input type = "text" class = "form-control" name = "totaldeals" [(ngModel)] =userModel.totaldeals readonly>
    </div>

    <div class = "form-group">
      <label for = "acceptedeals"> Accepted Deals </label>
      <input type = "text" class = "form-control" name = "acceptedeals" [(ngModel)] =userModel.acceptedeals readonly>
    </div>

    <div class = "form-group">
      <label for = "dealspending"> Pending Deals </label>
      <input type = "text" class = "form-control" name = "dealspending" [(ngModel)] =userModel.dealspending readonly>
    </div>

    <div class = "form-group">
      <label for = "rejecteddeals"> Deals Rejected </label>
      <input type = "text" class = "form-control" name = "rejecteddeals" [(ngModel)] =userModel.rejecteddeals readonly>
    </div>

    <div class = "form-group">
      <label for = "address"> Address </label>
      <input type = "text" class = "form-control" name = "address" [(ngModel)] =userModel.address readonly>
    </div>

    <div class = "form-group">
      <label for = "city"> City </label>
      <input type = "text" class = "form-control" name = "city" [(ngModel)] =userModel.city readonly>
    </div>

    <div class = "form-group">
      <label for = "country"> Country </label>
      <input type = "text" class = "form-control" name = "country" [(ngModel)] =userModel.country readonly>
    </div>

    <div class = "form-group">
      <label for = "postalcode"> Postal-Code </label>
      <input type = "text" class = "form-control" name = "postalcode" [(ngModel)] =userModel.postalcode readonly>
    </div>
    </div>
    <div class = "col">
      <div class = "container">
        <img src={{url}} class="img-fluid" alt="Responsive image">
      </div>
    </div>
    </div>
  </div>

</div>
